
.headingAbout{
    padding-bottom: 30px;
    text-align: center;
    color: brown;
    
}
.underline{
    text-decoration: none;
    color: white;
}
.underlineHome{
    text-decoration: none;
    color: black;
}